{{template "base" .}}

{{define "content"}}

<div class="container-fluid">

        <div class="row">
            <div class="col">
                This Will Be Our Contact Page
            </div>   
        </div>

    </div>
   
{{end}}