{{template "base" .}}

{{define "content"}}

<div class="container-fluid">

        <div class="row">
            <div class="col">
                <img src="static/marjors-suite.png" class="img-fluid img-thumbnail rounded mx-auto d-block room-image">
            </div>   
        </div>




        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">Majors Suite</h1>
                <p>
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember.
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember.
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember.
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember.
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember.
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember.
                </p>
            </div>
        </div>


        <div class="row">

            <div class="col text-center">

                <a id="check-availability-button" href="#!" class="btn btn-success">Check Availabilty</a>

            </div>
        </div>

   
{{end}}

{{define "js"}}
<script>

	document.getElementById("check-availability-button").addEventListener("click", function () {

		let html = `
			<form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
				<div class="form-row">
					<div class="col">
						<div class="form-row" id="dates-modal">
							<div class="col">
								<input required class="form-control" type="text" name="start" id="start" placeholder="Arrival Date">
							</div>
							<div class="col">
								<input required class="form-control" type="text" name="end" id="end" placeholder=" Departure Date">
							</div> 
						</div>
					</div>
				</div>
			</form>
		`

		attention.custom({
			msg: html,
			title: "Choose Your Dates"

		});

	})


</script>
{{end}}